@import "tailwindcss";

@theme {
  --color-azul: #072e48;
  --color-red: #512f34;
  --color-cielo: #0c0b70;
  --color-oro: #938237;
  --color-rojo: #560d11;
}

html {
  background: black;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
  opacity: 0;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
  opacity: 0;
}

html::-webkit-scrollbar-track:active {
  background-color: transparent !important;
  opacity: 0;
}

html::-webkit-scrollbar-thumb:active {
  background-color: transparent !important;
}

div::-webkit-scrollbar {
  width: 0;
  height: 0;
  opacity: 0;
}

div::-webkit-scrollbar {
  width: 0;
  height: 0;
  opacity: 0;
}

div::-webkit-scrollbar-track:active {
  background-color: transparent !important;
  opacity: 0;
}

div::-webkit-scrollbar-thumb:active {
  background-color: transparent !important;
}

div::-webkit-scrollbar {
  width: 0.01rem;
  height: 0.1rem;
}

div::-webkit-scrollbar {
  width: 0.01rem;
}

div::-webkit-scrollbar-track:active {
  background-color: #f3f6f7 !important;
  opacity: 80%;
  border-radius: 200px;
}

div::-webkit-scrollbar-thumb:active {
  background-color: #cc0000 !important;
}